:root {
  --primary-color: #495e57;
  --accent-color: #f4ce14;
  --light-color: #ffffff;
  --dark-color: #0000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Karla;
}

section {
  padding: 80px 0px;
}

h1,
h2,
h3 {
  font-family: Markazi;
  font-weight: 600;
  line-height: 1.5;
}

h1 {
  color: var(--accent-color);
}
p {
  font-size: 18px;
  padding: 10px 0;
  line-height: 1.3;
}

img {
  max-width: 100%;
  max-height: 100%;
}

footer {
  background: var(--primary-color);
  color: var(--light-color);
  display: flex;
  justify-content: center;
  padding: 20px;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--primary-color);
}

.active {
  color: var(--accent-color) !important; /* Active link color */
}

.w60 {
  max-width: 60%;
  margin: auto;
}

.g1fr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  gap: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 50px;
}

.color-light {
  color: #ffffff;
}

.flex-end {
  display: flex;
  justify-content: space-between;
}

.white {
  color: white;
}
.nav {
  padding: 20px 0;
  display: flex;
  max-height: 70px;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.nav-items {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-items a {
  text-decoration: none;
}
.nav-logo img {
  max-width: 100%; /* Add this line */
  max-height: 100%; /* Add this line */
  height: auto; /* Maintain the aspect ratio */
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.btn {
  padding: 20px 30px;
  border-radius: 3px;
  background-color: var(--accent-color);
  color: #000000;
  cursor: pointer;
  font-weight: 600;
  border: 2px solid var(--primary-color);
  transition: ease-in-out 0.3s;
}

.btn:hover {
  color: var(--accent-color);
  background-color: var(--primary-color);
  border: 2px solid var(--accent-color);
  transition: ease-in-out 0.3s;
}

.bg-green {
  background-color: var(--primary-color);
  margin: auto;
}

.specials {
  margin: 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.special-item {
  border-radius: 13px;
  background: #edefee;
  box-shadow: 2px 2px 2px var(--dark-color);
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.special-item p,
.special-item h3 {
  padding: 10px 20px;
}

.special-item img {
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border: 1px solid var(--dark-color);
  object-fit: cover;
  height: 100%;
  margin-bottom: 20px;
}

.special-item strong {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .w60 {
    max-width: 90%;
  }

  .specials {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
